<section class ="content-header" >
  <h1>
    Especificacion Tecnica
    <small>Nueva para <%=@machine.name%></small>
  </h1>
    <ol class="breadcrumb">
  		<li><i class="fa fa-cog"></i> <span>Equipos</span></li>
  		<li><%= link_to "Máquinas", machines_path %></li>
      <li><%= link_to @machine.name, @machine %></li>
  		<li class="active">Nueva Especificacion Tecnica</li>
  	</ol>
  <%= render partial: "shared/errors", locals: { obj: @machine } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@machine, :url => create_technical_specification_path) do |f| %>
            <%= render partial: "form", locals: {f: f} %>
            <div class="input-group-btn">
              <%= link_to "Cancelar", @machine , class: "btn bg-red btn-flat" %>
              <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

