<div class="form-group">
  <%= f.label :description, "Descripción" %>
  <%= f.text_area :description, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :scheduled_at, "Programar para" %>
  <%= f.date_field :scheduled_at,as: :date, :value => Date.today, class: 'form-control' %>
</div>

<div class="field" style="overflow:scroll; height: 500px">
  <%= f.label "Seleccione los mantenimientos a programar" %><br />
  <%= f.collection_check_boxes :programmed_maintenance_ids, ProgrammedMaintenance.where(done: false, preventive: true, scheduled: false), :id, :description do |b| %>
    <div class="collection-check-box form-control input-lg">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
</div>