<section class ="content-header" >
  <h1>
    Planes de Mantenimiento
    <small>Nuevo</small>
  </h1>
  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Planes</span></li>
		<li><%= link_to "Planes de Mantenimiento", maintenance_plans_path %></li>
		<li class="active">Nuevo</li>
	</ol>
  <%= render partial: "shared/errors", locals: { obj: @maintenance_plan } %>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@maintenance_plan) do |f| %>
          <%= render partial: "form", locals: {f: f} %>

          <div class="field" style="overflow:scroll; height: 500px">
            <%= f.label "Seleccione los mantenimientos a programar" %><br />
            <%= f.collection_check_boxes :programmed_maintenance_ids, @programmed_maintenances, :id, :description do |b| %>
              <div class="collection-check-box form-control input-lg">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>

          </br>

          <div class="input-group-btn">
            <%= link_to "Cancelar", maintenance_plans_path, class: "btn bg-red btn-flat" %>
            <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


