<section class ="content-header" >
  <h1>
    Mantenimientos Requeridos
    <small><%=@machine.name%></small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Equipos</span></li>
		<li><%= link_to "Máquinas", machines_path %></li>
        <li><%= link_to @machine.name, @machine %></li>
		<li class="active">Mantenimientos Requeridos</li>
	</ol>
  <%= render partial: "shared/errors", locals: { obj: @mileage_log } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for [@machine, @required_maintenance] do |f| %>
            <div class="form-group">
            <%= f.label :description, "Descripción" %>
            <%= f.number_field :hours, class: "form-control" %>
            </div>
            <div class="form-group">
            <%= f.machine_area_id :date, "Area" %>
            <%= f.select :machine_area_id, MachineArea.pluck(:name, :id), {}, class: "form-control", id:  "machine-areas-list" %>
            </div>
            <div class="input-group-btn">
              <%= link_to "Cancelar", @machine, class: "btn bg-red btn-flat" %>
              <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>