<tr>
	<td><%= programmed_maintenance.machine.name %></td>
	<td><%= programmed_maintenance.description %></td>
	<td><%= programmed_maintenance.scheduled_at %></td>
	<td><%= programmed_maintenance.estimated_duration %> horas</td>
	<td><%= programmed_maintenance.comments %></td>
    
	<td>
		<div class="input-group-btn">
			<%= button_tag class: "btn bg-red btn-flat", "data-deletion-path": programmed_maintenance_path(programmed_maintenance) do %>
				<span class="fa fa-trash"></span>
				<font>Borrar</font>
			<% end %>
		</div>
	</td>
</tr>
