<section class ="content-header" >
  <h1>
    Mantenimiento Correctivo
    <small>Nuevo</small>
  </h1>

  <!--<ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Productos</span></li>
		<li><%= link_to "Productos", products_path %></li>
		<li class="active">Nuevo</li>
	</ol>-->
  <%= render partial: "shared/errors", locals: { obj: @programmed_maintenance } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@programmed_maintenance,:url => create_corrective_programmed_maintenances_path) do |f| %>
            <%= render partial: "corrective_form", locals: {f: f} %>
            <div class="input-group-btn">
              <%= link_to "Cancelar", root_path, class: "btn bg-red btn-flat" %>
              <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
