<section class ="content-header" >
  <h1>
    Marcas de Productos
    <small>Nueva</small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Marcas</span></li>
		<li><%= link_to "Marcas", product_brands_path %></li>
		<li class="active">Nueva</li>
	</ol>
  <%= render partial: "shared/errors", locals: { obj: @product_brand } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@product_brand) do |f| %>
            <%= render partial: "shared/name_form", locals: {f: f} %>
            <div class="input-group-btn">
              <%= link_to "Cancelar", product_brands_path, class: "btn bg-red btn-flat" %>
              <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>