<section class ="content-header" >
  <h1>
    Secciones de Máquinas
    <small>Nueva</small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Sec4</span></li>
		<li><%= link_to "Secciones", machine_sections_path %></li>
		<li class="active">Nuevo</li>
	</ol>
  <%= render partial: "shared/errors", locals: { obj: @machine_section } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@machine_section) do |f| %>
            <%= render partial: "form", locals: {f: f} %>
            <div class="input-group-btn">
              <%= link_to "Cancelar", machine_sections_path, class: "btn bg-red btn-flat" %>
              <%= f.submit "Crear", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>