<div class="form-group">
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name, id:"exampleInputEmail1", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :tipe, "Categoria" %>
  <%= f.text_field :tipe, id:"exampleInputEmail1", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :brand, "Marca" %>
  <%= f.text_field :brand, id:"exampleInputEmail1", class: "form-control" %>
</div>
