<td><%= machine.name %></td>
<td><%= machine.tipe %></td>
<td><%= machine.brand %></td>
<td><%=link_to machine, class: "btn btn-default" do%>
	<span class= "fa fa-file-text">Ver</span>
	<%end%>
	<%=link_to edit_machine_path(machine.id), class: "btn btn-default" do%>
		<span class= "fa fa-pencil">Editar</span>
	<%end%>
	<%=link_to machine, class: "btn btn-default",method: :delete, data:{confirm: "Seguro que deseas borrar #{machine.name}?"} do%>
		<span class= "fa fa-trash">Borrar</span>
	<%end%>
</td>
