<tr>
	<td><%= machine.name %></td>
	<td><%= machine.machine_category.name %></td>
	<td><%= machine.machine_section.name %></td>
	<td>
		<div class="input-group-btn">
			<%= link_to machine, class: "btn bg-purple btn-flat" do %>
			<span class="fa fa-file-text"></span>
			<font>Ver</font>
			<% end %>

			<%= link_to edit_machine_path(machine), class: "btn bg-blue btn-flat" do %>
				<span class="fa fa-pencil"></span>
				<font>Editar</font>
			<% end %>

			<%= button_tag class: "btn bg-red btn-flat", "data-deletion-path": machine_path(machine) do %>
				<span class="fa fa-trash"></span>
				<font>Borrar</font>
			<% end %>
		</div>
	</td>
</tr>
