<section class ="content-header" >
  <h1>
    Editando
    <small> "<%=@machine.name%>"</small>
  </h1>
  <%= render partial: "shared/errors", locals: { obj: @machine } %>
</section>
<section class = "content">
  <div class= "row">
    <div class= "col-md-6">
      <div class= "box box-success">
        <div class= "box-body">
          <%= form_for(@machine) do |f| %>
            <%= render partial: "form", locals: {f: f}%>
            <div class= "input-group-btn">
              <%= f.submit "Crear",class: "btn bg-green btn-flat"%>
              <%= link_to "Cancelar", machines_path,class: "btn bg-red btn-flat" %>%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
