<section class="content-header">
  <h1>
    Máquinas
    <small><%=@machine.name%></small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Equipos</span></li>
		<li><%= link_to "Máquinas", machines_path %></li>
		<li class="active"><%= @machine.name %></li>
	</ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="col-md-4">
            <dl>
              <dt>Nombre</dt>
              <dd>&nbsp;&nbsp;&nbsp;<%=@machine.name%></dd>
              <dt>Categoria</dt>
              <dd>&nbsp;&nbsp;&nbsp;<%=@machine.machine_category.name%></dd>
              <dt>Seccion</dt>
              <dd>&nbsp;&nbsp;&nbsp;<%=@machine.machine_section.name%></dd>
            </dl>
            <%unless @machine.image_url%>
              <%=image_tag ("favicon.png"),class: "img-responsive"%>
            <%else%>
              <%=image_tag (@machine.image_url),class: "img-responsive"%>
            <%end%>
          </div>
          <div class="col-md-8">
            <div class= "nav-tabs-custom">
              <ul class= "nav nav-tabs">
                <li class= "<%='active' if params[:tab]== 'tab1'%>">
                  <a href="#tab1" data-toggle="tab">
                    Ficha Tecnica
                    <div class="input-group-btn">
                      <%= link_to "", new_machine_technical_specification_path(@machine.id), class: "btn bg-green btn-flat" %>
                    </div>
                  </a>
                </li>
                <li class= "<%='active' if params[:tab]== 'tab2'%>">
                  <a href="#tab2" data-toggle="tab">Ficha de Reg y Ejecucion</a>
                </li>
                <li class= "<%='active' if params[:tab]== 'tab3'%>">
                  <a href="#tab3" data-toggle="tab">Cronograma/Control de Mantenimiento</a>
                </li>
              </ul>
              <div class= "tab-content">
                <div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>" id= "tab1">
                  <%for sheet in @datasheets %>
                    <%=sheet.key%>
                    <%=sheet.value%>
                  <%end%>
                </div>
                <div class="<%= if (params[:tab] == 'tab2')then 'tab-pane active'  else 'tab-pane' end%>" id= "tab2">

                </div>
                <div class="<%= if (params[:tab] == 'tab3')then 'tab-pane active'  else 'tab-pane' end%>" id= "tab3">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
