<section class="content-header">
  <h1>
    Máquinas
    <small><%=@machine.name%></small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Equipos</span></li>
		<li><%= link_to "Máquinas", machines_path %></li>
		<li class="active"><%= @machine.name %></li>
	</ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="col-md-4">
            <div class="col-md-8">
                <%=image_tag (@machine.image_url),class: "img-responsive"%>
              <dl>
                <dt>Nombre</dt>
                <dd>&nbsp;&nbsp;&nbsp;<%=@machine.name%></dd>
                <dt>Seccion</dt>
                <dd>&nbsp;&nbsp;&nbsp;<%=@machine.machine_section.name%></dd>
                <dt>Descripción</dt>
                <dd>&nbsp;&nbsp;&nbsp;<%=@machine.description%></dd>
              </dl>
            </div>
            <div class="col-md-4 ">
              <%= link_to "Horometraje", machine_mileage_logs_path(@machine), class: "btn bg-blue btn-flat" %>
            </div>           
          </div>
          <div class="col-md-8">
            <div class= "nav-tabs-custom">
              <ul class= "nav nav-tabs" role="tablist">
                <li  class="active" class= "<%='active' if params[:tab]== 'tab1'%>">
                  <a href="#tab1" data-toggle="tab">
                    Ficha Tecnica                 
                  </a>
                </li>
                <li class= "<%='active' if params[:tab]== 'tab2'%>">
                  <a href="#tab2" data-toggle="tab">Ficha de Registro y Ejecucion</a>
                </li>
                <li class= "<%='active' if params[:tab]== 'tab3'%>">
                  <a href="#tab3" data-toggle="tab">
                    Mantenimientos Requeridos
                  </a>
                </li>
              </ul>
            </div>
          <div class= "tab-content">
                <div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>" id= "tab1">
                  <div class="box-body table-responsive no-padding">
                    <div class="input-group-btn">
                      <%= link_to "Añadir", new_machine_technical_specification_path(@machine.id),:style=>"width: 100px", class: "btn bg-green btn-flat" %>
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr role="row">
                          <th>Especificacion</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%for sheet in @datasheets %>
                          <tr>
                            <td><%=sheet.key%></td>
                            <td><%=sheet.value%></td>
                          </tr>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="<%= if (params[:tab] == 'tab2')then 'tab-pane active'  else 'tab-pane' end%>" id= "tab2">
                  <div class="box-body table-responsive no-padding" >
                    <table class="table table-hover">
                      <thead>
                        <tr role="row">
                          <th>Descripcion</th>
                          <th>Programado Para</th>
                          <th>Duracion Estimada</th>
                          <th>Se termino</th>
                          <th>Commentarios</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%if @finishedMaintenances%>
                          <% @finishedMaintenances.each do |maint| %>
                            <tr>
                              <td><%=maint.description%></td>
                              <td><%=maint.scheduled_at%></td>
                              <td><%=maint.estimated_duration%> horas</td>
                              <td><%=maint.done_at%></td>
                              <td><%=maint.comments%></td>
                            </tr>
                          <% end %>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="<%= if (params[:tab] == 'tab3')then 'tab-pane active'  else 'tab-pane' end%>" id= "tab3">
                  <div class="box-body table-responsive no-padding">
                    <div class="input-group-btn">
                      <%= link_to "Añadir", new_machine_technical_specification_path(@machine.id),:style=>"width: 100px", class: "btn bg-green btn-flat" %>
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr role="row">
                          <th>Descripción</th>
                          <th>Duración Estimada</th>
                          <th>Frecuencia</th>
                          <th>Último hecho</th>
                          <th>Próximo Mant. Estimado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%if @requiredMaintenances%>
                          <%for maint in @requiredMaintenances %>
                            <tr>
                              <td><%=maint.description%></td>
                              <td><%=maint.estimated_duration%> horas</td>
                              <% if maint.frequency_in_hours.present? %>
                                <td>cada <%=maint.frequency_in_hours%> horas</td>
                              <% else %>
                                <td>cada <%=maint.frequency_in_days%> dias</td>
                              <% end %>
                              <td><%=maint.last_time_done_at%></td>
                            </tr>
                          <%end%>
                        <%end%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
