<section class="content-header">
  <h1>
    Máquinas
    <small><%=@machine.name%></small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Equipos</span></li>
		<li><%= link_to "Máquinas", machines_path %></li>
		<li class="active"><%= @machine.name %></li>
	</ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="col-md-3">
            <ul class= "list-group list-group-unbordered">
              <li class = "list-group-item">
                <strong><%=@machine.name%></strong>
              </li>
              <li class = "list-group-item">
                <%=MachineCategory.find(@machine.id).name%>
              </li>
              <li class = "list-group-item">
                <%=MachineSection.find(@machine.id).name%>
              </li>
            </ul>
          <%= image_tag (@machine.image_url)%>
          </div>
          <div class="col-md-9">
            <div class= "box box-solid box-info">
              <div class= "box-header ">
                <h4 class="box-tittle">
                  <center>Ficha Tecnica</center>
                </h3>
              </div>
              <div class="box-body">
                <%= form_for(@machine) do |f| %>
                  <%= render partial: "form", locals: {f: f} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
