<div class="form-group">
  <%= f.label :name, "Nombre" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :product_category_id, "Categoría" %>
  <%= f.select :product_category_id, ProductCategory.pluck(:name, :id), {}, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :product_brand_id, "Marca" %>
  <%= f.select :product_brand_id, ProductBrand.pluck(:name, :id), {}, class: "form-control" %>
</div>
<% if @product.new_record? %>  
  <div class="form-group">
    <%= f.label :initial_stock, "Existencia inicial" %>
    <%= f.text_field :initial_stock, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :current_stock, "Existencia actual" %>
    <%= f.text_field :current_stock, class: "form-control" %>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :minimum, "Existencia minima" %>
  <%= f.text_field :minimum, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :maximum, "Existencia maxima" %>
  <%= f.text_field :maximum, class: "form-control" %>
</div>
<div style= "margin-bottom:10px">
  <%= f.label :image, "Imagen" %>
  <%= f.file_field :image%>
</div>