<tr>
	<td><%= product.name %></td>
	<td><%= product.product_brand.name %></td>
	<td><%= product.current_stock %></td>
	<td>
		<div class="input-group-btn">
			<%= link_to product, class: "btn bg-purple btn-flat" do %>
			<span class="fa fa-file-text"></span>
			<font>Ver</font>
			<% end %>

			<%= link_to edit_product_path(product), class: "btn bg-blue btn-flat" do %>
				<span class="fa fa-pencil"></span>
				<font>Editar</font>
			<% end %>

			<%= button_tag class: "btn bg-red btn-flat", "data-deletion-path": product_path(product) do %>
				<span class="fa fa-trash"></span>
				<font>Borrar</font>
			<% end %>
		</div>
	</td>
</tr>
