<section class="content-header">
  <h1>
    Productos
    <small>Editar</small>
  </h1>

  <ol class="breadcrumb">
		<li><i class="fa fa-cog"></i> <span>Productos</span></li>
		<li><%= link_to "Productos", products_path %></li>
    <li><%= @product.name %></li>
		<li class="active">Editar</li>
	</ol>
  <%= render partial: "shared/errors", locals: { obj: @product } %>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <div class="box-body">
          <%= form_for(@product) do |f| %>
            <%= render partial: "form", locals: {f: f} %>
            <div class="input-group-btn">
              <%= link_to "Cancelar", products_path, class: "btn bg-red btn-flat" %>
              <%= f.submit "Actualizar", class: "btn bg-green btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
