<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">OPCIONES</li>

            <li class="active">
                <%= link_to root_path do %>
                    <i class="fa fa-calendar"></i>
                    Calendario
                <% end %>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Equipos</span>
                </a>

                <ul class="treeview-menu">
                    <li><%=link_to "Máquinas",machines_path%></li>
                    <li><%=link_to "Secciones",machine_sections_path%></a></li>       
                    <li><%=link_to "Areas de mantenimiento",machine_areas_path%></a></li>             
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Inventarios</span>
                </a>

                <ul class="treeview-menu">
                    <li><%=link_to "Productos",products_path%></li>
                    <li><%=link_to "Marcas",product_brands_path%></a></li>
                   <li><%=link_to "Transacciones de Inventario",inventory_transactions_path%></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span>Mantenimiento</span>
                </a>

                <ul class="treeview-menu">
                    <li><%=link_to "Nuevo mantenimiento correctivo",new_corrective_programmed_maintenances_path%></li>
                    <li><a href="#">Planes de Mantenimiento</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i>
                    <span>Reportes</span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="#">Durabilidad de repuestos</a></li>
                    <li><a href="#">Historial de mantenimientos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Configuraciones</span>
                </a>

                <ul class="treeview-menu">
                    <li><%=link_to "Usuarios",users_path%></li>
                    <li><a href="#">Notificaciones</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
