<!DOCTYPE html>
<html>
  <head>
    <title>Mantenimiento de maquinaria</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>H</b>C</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Hondu</b>caribe</span>
        </a>

        <!-- Header Navbar -->
        <%= render partial: "layouts/header_navbar" %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <%= render partial: "layouts/main_sidebar" %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Entorno de desarrollo
        </div>
        <!-- Default to the left -->
        <strong>Mantenimiento de maquinaria:</strong> Proyecto en desarrollo
      </footer>

      <!-- Control Sidebar -->
      <%= render partial: "layouts/control_sidebar" %>
    </div>
  <!-- ./wrapper -->
  </body>
</html>